
 @media screen and (min-width:760px){
    .navigation__list {
      flex-wrap: nowrap;  
      display: flex;
      background-color: #017974;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      justify-content: center;
    }
  }
 
  .navigation__list__item {
    margin: 8px 10px;
   }
  
   .navigation__list__item__anchor {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
  
   }
   .navigation__list__item__anchor:hover {
    color: #c78c19;
    text-decoration: underline;
  }
  
  .navigation__list__item__anchor--active {
    font-weight: bold;
  }
  