html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 41px;
}

h3 {
  font-size: 48px;
}

p,
span,
a {
  font-size: 16px;
  font-weight: 300;
}

.header_presentation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #00cdc4;
  position: relative;
  text-align: center;
  height: 100vh;
  
  }
t: 500;
  padding: 10px;
}

@media screen and (min-width:760px) {
  .subtitle {
    font-weight: 500;
  }

}


.title_summary {
  font-weight: bold;
  padding: 10px;
}

.container {
  padding: 13px;
 
}

@media screen and (min-width::760px) {
 .contatiner {
   max-width: 90%;
 }
}
 

.summary_experience {
  font-size: 30px;
  line-height: 40px;
  margin: 40px 0;
  text-align: left;
}

.skills {
  background-color: teal;
  font-weight: bold;
  text-align: center;
  
}

.skills_title {
  color: white;
  margin-bottom: 40px;
  padding: 10px;
}

.skills_wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.skills_wrapper > img {
   opacity: 0.9;
   width: calc(50% - 20px);
   padding: 10px;
}

@media screen and (min-width:760px){
  .skills_wrapper{
    flex-wrap: nowrap;
    
  }
  .skills_wrapper > img {
   height: 120px;
   width: auto;
  }      

}

.skills_wrapper > img:hover {
  opacity: 1;
}

.experience_work {
  text-align: center;
  margin: 20px 0 0 0;
}

.summary_work {
  text-align: center;
  margin: 5px 0 0 0;
}

.work_icon {
  height: 130px;
  padding: 20px 0 20px 0;
}

.contact {  
  text-align: center;
  background-color: tomato;
  font-weight: bold;
 
}

@media screen and (min-width:760px) {
.contact {
  text-align: center;
  background-color: tomato;
  font-weight: bold;
 }
}

.icon_contact {
  padding: 30px;
  display: flex;
  justify-content: space-around;
}


.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}
